---
import Layout from "../../layouts/layout.astro";

const journeyItems = [
  {
    date: "2023 - Present",
    title: "This is Still a Work in Progress",
    paragraphs: [
      "I'm currently working on this and I'm excited to share with you soon.",
      "In the meantime, check out my other projects on GitHub.",
    ],
  },
  {
    date: "2023 - Present",
    title: "This is Still a Work in Progress",
    paragraphs: [
      "I'm currently working on this and I'm excited to share with you soon.",
      "In the meantime, check out my other projects on GitHub.",
    ],
  },
  {
    date: "2023 - Present",
    title: "This is Still a Work in Progress",
    paragraphs: [
      "I'm currently working on this and I'm excited to share with you soon.",
      "In the meantime, check out my other projects on GitHub.",
    ],
  },
  {
    date: "2023 - Present",
    title: "This is Still a Work in Progress",
    paragraphs: [
      "I'm currently working on this and I'm excited to share with you soon.",
      "In the meantime, check out my other projects on GitHub.",
    ],
  },
  {
    date: "2023 - Present",
    title: "This is Still a Work in Progress",
    paragraphs: [
      "I'm currently working on this and I'm excited to share with you soon.",
      "In the meantime, check out my other projects on GitHub.",
    ],
  },
  {
    date: "2023 - Present",
    title: "This is Still a Work in Progress",
    paragraphs: [
      "I'm currently working on this and I'm excited to share with you soon.",
      "In the meantime, check out my other projects on GitHub.",
    ],
  },
];
---

<Layout>
  <main class="w-full flex flex-col items-center gap-16 mt-24 mb-12 px-8 max-w-md mx-auto">
    
    <h1 class="text-4xl font-bold">A Journey Through Time...</h1>

    <ol class="relative border-s border-orange-200">
      
      {journeyItems.map((item, index) => (
        <li class="flex flex-col items-start mb-10 ml-6 gap-2">
            <div class="absolute w-2 h-2 bg-orange-400 rounded-full mt-1 -start-1"></div>
          
            <time class="mb-1 text-sm font-normal leading-none text-orange-100">
                {item.date}
            </time>
            
            <h2 class="text-lg font-semibold text-orange-300">
                {item.title}
            </h2>
            
            {item.paragraphs.map((paragraph) => (
                <p class="mb-2 text-base font-normal text-gray-50">
                    {paragraph}
                </p>
            ))}

            {item.link && (
                <a 
                    href={item.link.url} 
                    class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
                >
                {item.link.text}
                <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
                </a>
          )}
        </li>
      ))}

    </ol>
  </main>
</Layout>