---
import Layout from '../layouts/BaseLayout.astro';
import certificates from '../content/certificates.json';
---
<Layout title="Certificates">
<main class="page-container">
    <section class="flex flex-col items-center gap-4 text-center max-w-3xl">
        <h1 class="highlight">Certificates & Diplomas</h1>
    </section>

    <ul class="flex flex-col gap-12 md:grid md:grid-cols-2 max-w-5xl mx-auto px-8 text-center">
        {certificates.map(certificate => (
            <li class="flex flex-col items-center gap-4">
                <h2 class="highlight text-xl font-bold">{certificate.title}</h2>
                <p>{certificate.issuer} - {certificate.year}</p>
                
                <a href={certificate.url} target="_blank" class="block w-full">
                    <img 
                        src={certificate.image} 
                        alt={`${certificate.title} Certificate`} 
                        class="w-full h-auto rounded-lg" 
                    />
                </a>
            </li>
        ))}
    </ul>
</main>
</Layout>