---
import "../styles/flip-card.css";

import Layout from "../layouts/layout.astro";
import socials from "../content/socials.json";

const currYear = new Date().getFullYear();
const emailFull = "mailto:" + socials.email;
---

<Layout>
	<main class="w-full flex flex-col items-center gap-16 mt-24 mb-12 px-8 max-w-2xl mx-auto">
	<section id="hero" class="flex flex-col items-center gap-8">
		<a href="/logos">
		<section id="logos" class="card flex gap-8 items-center p-10 m-8">
			<img class="card-back" src="/images/logo_interactive.png" alt="Logo" />
			<img class="card-front scale-150" src="/images/logo_base.png" alt="Logo" />
		</section>
		</a>

		<div class="flex flex-col items-center gap-4">
			<h1><i class="ph ph-sunglasses"></i> Software & Digital Media Creator</h1>

			<p>Based in Varna, Bulgaria.</p>
		</div>
		
	</section>

	<section id="projects" class="flex flex-col items-center gap-8">
		<h1 class="highlight"><i class="ph ph-highlighter"></i> Works</h1>
		<ul class="flex flex-col gap-2 items-center px-8 border-orange-300 border-dashed border-x-2 rounded-t-2xl">
			<li><a href="https://operation-reboot.onrender.com/">Operation: Reboot</a></li>
			<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2960675504">GIFs in Chat</a></li>
			<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2858293378">World Country Flags</a></li>
			<li><a href="#">Space Shooter</a></li>
		</ul>

		<a href="/works" class="btn"
		>
			See More <i class="ph ph-arrow-right"></i>
		</a>
	</section>

	<section id="contact" class="flex flex-col items-center gap-8">
		<h1 class="highlight"><i class="ph ph-at"></i> Contact</h1>
		<ul class="flex flex-col gap-2 items-center px-8 border-orange-300 border-dashed border-x-2 rounded-t-2xl">
			<li class="highlight"><a href={emailFull}><i class="ph ph-envelope"></i> {socials.email}</a></li>
			<li class="highlight"><a href={socials.github}><i class="ph ph-github-logo"></i> GitHub</a></li>
			<li class="highlight"><a href={socials.instagram}><i class="ph ph-instagram-logo"></i> Instagram</a></li>
			<li class="highlight"><a href={socials.youtube}><i class="ph ph-youtube-logo"></i> YouTube</a></li>
			<li class="highlight"><a href={socials.tiktok}><i class="ph ph-tiktok-logo"></i> TikTok</a></li>
		</ul>
	</section>

	<footer class="flex flex-col items-center text-center gap-4">
		<p>Credits for the background go to <a class="highlight text-orange-300" href="https://free-game-assets.itch.io/free-sky-with-clouds-background-pixel-art-set">@CraftPix</a></p>
		<p><span class="highlight">&copy; {currYear} Vakis Interactive.</span> All rights reserved.</p>
	</footer>
	</main>
</Layout>