---
import "../styles/flip-card.css";
import { getCollection } from 'astro:content';
import socials from "../content/socials.json";
import Layout from "../layouts/BaseLayout.astro";
import WorkEntry from "../components/WorkEntry.astro";
import ContactFormButton from "../components/ContactFormButton";

const currYear = new Date().getFullYear();
const emailFull = "mailto:" + socials.email;

const works = (await getCollection("works"))
	.filter(work => work.data.featured)
	.sort((a, b) => a.data.sortOrder - b.data.sortOrder)
	.slice(0, 4);
---

<Layout>
<main class="page-container">
	<section id="hero" class="flex flex-col items-center gap-8">
		<a href="/logos">
		<section id="logos" class="card flex gap-8 items-center p-10 m-8">
			<img class="card-back" src="/images/logo_interactive.png" alt="Logo" />
			<img class="card-front scale-150" src="/images/logo_base.png" alt="Logo" />
		</section>
		</a>

		<div class="flex text-2xl text-orange-300 bg-white/5 border border-white/10 py-2 rounded-full hover:border-white/20 transition-colors *:not-last:border-r *:border-white/10 *:px-4">
			<i class="ph ph-code"></i>
			<i class="ph ph-palette"></i>
			<i class="ph ph-music-notes-simple"></i>
			<i class="ph ph-film-reel"></i>
		</div>

		<div class="flex flex-col items-center gap-4">
			<h1>Software & Digital Media Creator</h1>

			<p class="highlight text-center font-medium text-gray-200">
				Certified G & <a href="/certificates" class="text-orange-300 border-b border-orange-300/50 border-dashed">certified software engineer</a>
			</p>
			<p class="text-xs uppercase tracking-[0.2em] opacity-60 flex items-center gap-2"><i class="ph ph-sunglasses"></i> Hustling since 2011</p>
		</div>
		
	</section>

	<section id="projects" class="flex flex-col items-center gap-8 w-full">
		<h1 class="highlight"><i class="ph ph-highlighter"></i> Selected Works</h1>

		<ul class="grid grid-cols-1 md:grid-cols-2 gap-2 w-full px-8">
			{works.map(({ data }) => (
				<WorkEntry entry={data} />
			))}
		</ul>

		<a href="/works" class="btn"
		>
			See More <i class="ph ph-arrow-right"></i>
		</a>
	</section>

	<section id="contact" class="flex flex-col items-center gap-8">
		<h1 class="highlight"><i class="ph ph-at"></i> Contact</h1>
		<ul class="flex flex-col gap-2 items-center px-8 border-orange-300 border-dashed border-x-2 rounded-t-2xl">
			<li class="highlight"><a href={emailFull}><i class="ph ph-envelope"></i> {socials.email}</a></li>
			<li class="highlight"><a href={socials.github}><i class="ph ph-github-logo"></i> GitHub</a></li>
			<li class="highlight"><a href={socials.instagram}><i class="ph ph-instagram-logo"></i> Instagram</a></li>
			<li class="highlight"><a href={socials.youtube}><i class="ph ph-youtube-logo"></i> YouTube</a></li>
			<li class="highlight"><a href={socials.tiktok}><i class="ph ph-tiktok-logo"></i> TikTok</a></li>
		</ul>

		<ContactFormButton 
			client:load 
			className="btn" 
		/>
	</section>

	<footer class="flex flex-col items-center text-center gap-4">
		<p>Credits for the background go to <a class="highlight text-orange-300" href="https://free-game-assets.itch.io/free-sky-with-clouds-background-pixel-art-set">@CraftPix</a></p>
		<div id="copyright" class="flex flex-col md:flex-row">
			<p class="highlight">&copy; {currYear} Vakis Interactive.</p>
			<p>All rights reserved.</p>
		</div>
	</footer>
</main>
</Layout>