---
import "../styles/tailwind.css";
import "../styles/global.css";
import "../styles/parallax.css";
import Header from "../components/Header.astro";

const { 
    title, 
    description = "Websites, software, music, art, videos and digital media created by Vakïs Interactive.", 
} = Astro.props;

const pageTitle = title ? `${title} | Vakïs Interactive` : "Vakïs Interactive | Software & Digital Media";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
			/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
		/>
		<title>{pageTitle}</title>
        <meta name="title" content={pageTitle} />
        <meta name="description" content={description} />
		<meta property="og:type" content="website" />
	</head>
	<body>
		<Header />

        <div class="parallax-container">
			<div class="parallax-layer parallax-layer-1" />
			<div class="parallax-layer parallax-layer-2" />
			<div class="parallax-layer parallax-layer-3" />
			<div class="parallax-layer parallax-layer-4" />
			<slot />
        </div>
	</body>
</html>
